<h1>Editing Property</h1>

<%= render 'form', property: @property %>
</br>
<%= link_to 'Show', @property, class:'btn btn-secondary btn-dark' %>
<%= link_to 'Back', properties_path, class:'btn btn-secondary btn-dark' %>
