<div class="my-jumbotron shadow-sm">
<h1>New
<% if params[:payer]== 'property' %>bill to pay <% end %>
<% if params[:payer]== 'tenant' %>due to collect  <% end %>
</h1>
<%= render 'form', due: @due %>
<%= link_to 'Cancel', dues_path, class:"btn btn-secondary" %>
</div>
